DESARROLLO WEB PROFESIONAL
Nombre del alumno: Oscar David Rodriguez Marin
Matrícula: 1719110304
Fecha: 14 de agosto de 2022
Grupo: IDGS81
Bibliografía (VALOR 10 PTS): 
https://morioh.com/p/71358deec9e1 
https://www.geeksforgeeks.org/python-raise-keyword/ 
https://parasmani300.medium.com/pyrebase-firebase-in-flask-d249a065e0df 
https://digital55.com/que-es-firebase-funcionalidades-ventajas-conclusiones/

In [1]:
#SQLALchemy ORM
from sqlalchemy import create_engine 
from sqlalchemy import MetaData 
from sqlalchemy import Table, Column, Integer, String
from sqlalchemy import select, insert, update, delete

In [2]:
engine = create_engine('sqlite:///prueba.db')

In [3]:
metadata=MetaData()

In [4]:
clientes =Table(
    'clientes', metadata,
    Column('id_cliente', Integer, primary_key=True),
    Column('nombre', String, nullable=False),
    Column('email', String, nullable=False),
)

In [5]:
print(type(clientes))

<class 'sqlalchemy.sql.schema.Table'>

In [6]:
metadata.create_all(engine)

In [7]:
stmt = insert(clientes).values(nombre="Cliente 1", email="clientes@mail.com") 
print(type(stmt))
print(stmt)

<class 'sqlalchemy.sql.dml.Insert'>
INSERT INTO clientes (nombre, email) VALUES (:nombre, :email)

In [8]:
with engine.connect() as conn:
    result = conn.execute(stmt)

In [9]:
data =[
    {"nombre": "Cliente 2", "email": "email1@email.com"},
    {"nombre": "Cliente 3", "email": "email2@email.com"},
    {"nombre": "Cliente 4", "email": "email3@email.com"}
]
stmt = insert(clientes).values(data)
print(type(stmt))
print(stmt)

<class 'sqlalchemy.sql.dml.Insert'>
INSERT INTO clientes (nombre, email) VALUES (:nombre_m0, :email_m0), (:nombre_m1, :email_m1), (:nombre_m2, :email_m2)

In [10]:
with engine.connect() as conn:
    result = conn.execute(stmt)

In [11]:
stmt =select(clientes)
print(type(stmt))
print(stmt)

<class 'sqlalchemy.sql.selectable.Select'>
SELECT clientes.id_cliente, clientes.nombre, clientes.email
FROM clientes

In [12]:
with engine.connect() as conn:
    result = conn.execute(stmt)
    for key in result.fetchall():
        print(key.nombre)

Cliente 1
Cliente 2
Cliente 3
Cliente 4

In [13]:
stmt  =select(clientes).where(clientes.c.id_cliente == 2)
print (type(stmt))
print (stmt)

<class 'sqlalchemy.sql.selectable.Select'>
SELECT clientes.id_cliente, clientes.nombre, clientes.email
FROM clientes
WHERE clientes.id_cliente = :id_cliente_1

In [14]:
with engine.connect() as conn:
    result = conn.execute(stmt)
    for key in result.fetchall():
        print(key)

(2, 'Cliente 2', 'email1@email.com')

In [15]:
stmt  =select(clientes).where(clientes.c.nombre.ilike('%4%'))
print (type(stmt))
print (stmt)

<class 'sqlalchemy.sql.selectable.Select'>
SELECT clientes.id_cliente, clientes.nombre, clientes.email
FROM clientes
WHERE lower(clientes.nombre) LIKE lower(:nombre_1)

In [16]:
with engine.connect() as conn:
    result = conn.execute(stmt)
    for key in result.fetchall():
        print(key)

(4, 'Cliente 4', 'email3@email.com')

In [17]:
stmt  =select(clientes).where(clientes.c.nombre.in_(["Cliente 1","Cliente 2"]))
print (type(stmt))
print (stmt)

<class 'sqlalchemy.sql.selectable.Select'>
SELECT clientes.id_cliente, clientes.nombre, clientes.email
FROM clientes
WHERE clientes.nombre IN (__[POSTCOMPILE_nombre_1])

In [18]:
with engine.connect() as conn:
    result = conn.execute(stmt)
    for key in result.fetchall():
        print(key)

(1, 'Cliente 1', 'clientes@mail.com')
(2, 'Cliente 2', 'email1@email.com')

In [19]:
stmt  =select(clientes).where(clientes.c.nombre.not_in(["Cliente 1","Cliente 2"]))
print (type(stmt))
print (stmt)

<class 'sqlalchemy.sql.selectable.Select'>
SELECT clientes.id_cliente, clientes.nombre, clientes.email
FROM clientes
WHERE (clientes.nombre NOT IN (__[POSTCOMPILE_nombre_1]))

In [20]:
with engine.connect() as conn:
    result = conn.execute(stmt)
    for key in result.fetchall():
        print(key)

(3, 'Cliente 3', 'email2@email.com')
(4, 'Cliente 4', 'email3@email.com')

#####Textoooo MIooo

In [21]:
stmt = (
    delete(clientes).
    where(clientes.c.id_cliente == 1)
)

In [22]:
with engine.connect() as conn:
    result = conn.execute(stmt)

In [23]:
stmt =select(clientes)
print(type(stmt))
print(stmt)

<class 'sqlalchemy.sql.selectable.Select'>
SELECT clientes.id_cliente, clientes.nombre, clientes.email
FROM clientes

In [24]:
with engine.connect() as conn:
    result = conn.execute(stmt)
    for key in result.fetchall():
        print(key.nombre)

Cliente 2
Cliente 3
Cliente 4

In [25]:
stmt = (
    update(clientes).
    where(clientes.c.id_cliente == 2).
    values(nombre='user #5')
)

In [26]:
with engine.connect() as conn:
    result = conn.execute(stmt)

In [27]:
stmt =select(clientes)
print(type(stmt))
print(stmt)

<class 'sqlalchemy.sql.selectable.Select'>
SELECT clientes.id_cliente, clientes.nombre, clientes.email
FROM clientes

In [28]:
with engine.connect() as conn:
    result = conn.execute(stmt)
    for key in result.fetchall():
        print(key.nombre)

user #5
Cliente 3
Cliente 4